.crdimg{
    height: 20rem;
    margin: 0;
    width:20rem;

}

.h11h{
    
    font-family: "Times New Roman", Times, serif;
    margin: 0px;
    font-size: 3rem;
}

.h66h{
    
    font-family: "Times New Roman", Times, serif;
    margin: 0px;
    /* font-size: 1rem; */
}
hr {
    border: 1px solid black;
    margin: 0px;
    
  }
.crd{
    width:20rem;
    /* border-radius: 15px; */
    font-family: 'Poppins', sans-serif;
    margin:2rem;
    text-align: center;
    border: 0.01rem solid black;
  
}

.crd:hover{
    box-shadow:    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* .crd img {
    height: auto;
} */