/* 
.carousele{
    width:80%;
    margin:1rem;
}
/* .carousel-indicators{
    width:50%;
} 

@media screen and (max-width: 480px) {
  
    .carousele{
        width:1%;
        margin-top:0.5rem;
    }
  
  } */